.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* -----------------------------------------------
css
------------------------------------------------- */


.container-stock_profit_loss{
  /* width: 100vw; */
  height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: whitesmoke;
  z-index: 0;
}

.background-stock_profit_loss{
  width: 60vw;
  height: 80vh;
  background:linear-gradient( rgba(173,255,47, 0.5) 100%, rgba(0, 0, 0, 0.5)100%);
  position: fixed;
  z-index: 1;
  position: relative;
}

.menu__logo {
  /* position: absolute; */
  display: inline-flex;
  color: inherit;
  width:max-content;
  margin-top: 15vh;
  margin-left: -71px;
  text-decoration: none;
  transform: translate(1vw,1vh) rotate(-91deg);
  font-size: 2rem;
  color: #fff;
  font-family:'NoeDisplay-Medium','Sans-serif';
  
}

.menu__logoSpace {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 20vw;
}

.menu__socialItems {
  display: block;
  color: #979799;
  position: fixed;
  padding-bottom: 6%;
  width: 100vw;
  bottom:0vh;
  margin-left: -7%;
}

.menu__socialLink {
  position: relative;
  display: block;
  /* width: 26vw;
  height: 26vh; */
  /* margin: 0 auto; */
  color: inherit;
  transition: color .2s;
}

.menu__socialIcon {
  width: 16vw;
  height: 1vh;
  position: absolute;
  margin-top: 4vh;
  /* left: 10%; */
  margin-left: 1.5vw;
  text-align: center;
  color: #e5e7eb;
  font-size: 1rem;
  /* align-items: center; */
}

.body-frame-stock_profit_loss{
  position:absolute;
  z-index: 2;
  width: 80vw;
  height: 80vh;
  display: block;
  top:10%;
  left:10%;
  background-color: white;
}

/* .stock_profit_loss_container{
  padding-top: 2%;
  position: absolute;
  text-align: center;
  width: 100%;
  height: inherit;
} */

.stock_profit_loss_container{
  padding-top: 2%;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 80%;
  background-color: white;
}

.stock_profit_loss_title{
  font-size: 1.5rem;
  padding-top: 1%;
}

.stock_profit_loss_initialPrice , .stock_profit_loss_Quantity_of_Stocks , .stock_profit_loss_Current_Price{
  padding-top: 0;
}

.stock_profit_loss_button , .stock_profit_loss_displaymsg{
  padding-top: 2%;
}

.stock_profit_loss_button > .MuiButton-contained {
  background:rgba(173,255,47, 0.5)
}

.stock_profit_loss_button > .MuiButton-contained:hover {
  color:rgba(173,255,47, 0.5);
  background-color: gray;
}

